<%= simple_form_for([@gig, @gig.reviews.build]) do |f| %>

<div id="rating-form">
  <%= f.input :rating %>
</div>
  <%= f.input :comment %>
  <%= f.button :submit, :class => "btn-custom2" %>
<% end %>